PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/valence_automobili
JWT_SECRET=valence_hypercar_secret_key_2026

# Optional Cloudinary Integration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Optional Nodemailer Integration
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_user
SMTP_PASS=your_pass
